body {
  background-color: Ivory;
  font-family: Georgia, serif;
}
.reveal p {
  font-size: 45px;
}

.reveal li {
  font-size: 45px;
}

.reveal h3 {
  font-size: 65px;
  color: Crimson;
}

.reveal table {
  font-size: 45px;
}

.reveal code {
  background-color: LightGray;
}